<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Bikin.pw - URL Shortener</title>
    <link rel='shortcut icon' href='../static/icon.png' type='image/x-icon' />


</head>

<body>
    <div class="container" id="fof">
        <!-- <div class="row"> -->
            <div class="fof-1 text-center">
                <div class="not-found">
                    <h2>404</h2>
                    <p>URL Not Found</p>
                </div>
                <h1>Bikin.pw
                    <span class="logo">
                        <img src="../static/Icon – 2.png" alt="">
                    </span>
                </h1>
            </div>

            <div class="text-center cont-btn-back">
                <a href="/" class="btn-back">Back to Home</a>
            </div>
        <!-- </div> -->
    </div>
</body>

</html>